<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>
<form th:method="POST" th:action="@{/users}" th:object="${user}">
    <label for="name">Enter user: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <input type="text" th:field="*{surname}" id="surname"/>
    <input type="text" th:field="*{email}" id="email"/>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <input type="submit" value="Create!"/>
</form>
<p><a href="/logout" target="self">Logout</a></p>
</body>
</html>